#canvas {
    border: 1px solid red;
}

#canvas.dragging-target {
    border-style: dashed;
}

.decorations {
    padding: 0 0 20px 20px;
}

.decorations img {
    margin-right: 12px;
    cursor: move;
}

.decorations input:last-child {
    margin-right: 0;
}